#text {
  font-family: Cabin; 
  font-size:24px;
  color: var(--main-color);
  transition-duration: $fade-time;
}

#author {
  color: var(--main-color);
  transition-duration: $fade-time;
}


#new-quote{
  background-color: var(--main-color);
  color: White;
  opacity: 1;
  transition-duration: $fade-time;
}

#new-quote:hover{
  opacity: 0.7;
}

#tweet-quote {
  font-size:200%; 
  transition-duration:$fade-time;
  color: var(--main-color);
}

#tweet-quote:hover {
  opacity: 0.7;
}